# Exam mark prediction using linear regression- multiple variables

## Import libraries

In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression

## load Dataset

In [4]:
dataset=pd.read_csv("C:\\Users\\91951\\Documents\\Machine learning_Warriors hub\\data.csv")
dataset

     hours  age  internet  marks
0     6.83   15         1  78.50
1     6.56   16         0  76.74
2      NaN   17         1  78.68
3     5.67   18         0  71.82
4     8.67   19         1  84.19
..     ...  ...       ...    ...
196   8.56   19         1  84.68
197   8.94   20         1  86.75
198   6.60   15         1  78.05
199   8.35   16         1  83.50
200   4.15   15         0  81.45

[201 rows x 4 columns]

## Load Summarise

In [5]:
print(dataset.shape)
print(dataset.head(5))

(201, 4)
   hours  age  internet  marks
0   6.83   15         1  78.50
1   6.56   16         0  76.74
2    NaN   17         1  78.68
3   5.67   18         0  71.82
4   8.67   19         1  84.19

## Finding & Removing NA values from our Features X

In [6]:
dataset.columns[dataset.isna().any()]

Index(['hours'], dtype='object')

In [7]:
dataset.hours=dataset.hours.fillna(dataset.hours.mean())  ## Fill the empty data with the respective column's mean

In [8]:
dataset

         hours  age  internet  marks
0     6.830000   15         1  78.50
1     6.560000   16         0  76.74
2    30.276378   17         1  78.68
3     5.670000   18         0  71.82
4     8.670000   19         1  84.19
..         ...  ...       ...    ...
196   8.560000   19         1  84.68
197   8.940000   20         1  86.75
198   6.600000   15         1  78.05
199   8.350000   16         1  83.50
200   4.150000   15         0  81.45

[201 rows x 4 columns]

## Segregate Dataset into Input X & Output Y

In [9]:
x=dataset.iloc[:,:-1].values
print(x.shape)
print(x)

(201, 3)
[[6.83000000e+00 1.50000000e+01 1.00000000e+00]
 [6.56000000e+00 1.60000000e+01 0.00000000e+00]
 [3.02763776e+01 1.70000000e+01 1.00000000e+00]
 [5.67000000e+00 1.80000000e+01 0.00000000e+00]
 [8.67000000e+00 1.90000000e+01 1.00000000e+00]
 [7.55000000e+00 2.00000000e+01 0.00000000e+00]
 [6.67000000e+00 1.50000000e+01 0.00000000e+00]
 [8.99000000e+00 1.60000000e+01 0.00000000e+00]
 [4.57100000e+03 1.70000000e+01 1.00000000e+00]
 [6.75000000e+00 1.80000000e+01 0.00000000e+00]
 [6.59000000e+00 1.90000000e+01 0.00000000e+00]
 [8.56000000e+00 2.00000000e+01 1.00000000e+00]
 [7.75000000e+00 1.50000000e+01 0.00000000e+00]
 [7.90000000e+00 1.60000000e+01 1.00000000e+00]
 [8.19000000e+00 1.70000000e+01 0.00000000e+00]
 [6.55000000e+00 1.80000000e+01 1.00000000e+00]
 [6.36000000e+00 1.90000000e+01 0.00000000e+00]
 [8.44000000e+00 2.00000000e+01 1.00000000e+00]
 [8.41000000e+00 1.50000000e+01 0.00000000e+00]
 [7.67000000e+00 1.60000000e+01 1.00000000e+00]
 [7.42000000e+00 1.70000000e+01 1.00000000e+00]
 [8.16000000e+00 1.80000000e+01 1.00000000e+00]
 [5.05000000e+00 1.90000000e+01 1.00000000e+00]
 [5.85000000e+00 2.00000000e+01 1.00000000e+00]
 [5.45000000e+00 1.50000000e+01 0.00000000e+00]
 [7.96000000e+00 1.60000000e+01 0.00000000e+00]
 [6.51000000e+00 1.70000000e+01 0.00000000e+00]
 [6.73000000e+00 1.80000000e+01 0.00000000e+00]
 [5.94000000e+00 1.90000000e+01 1.00000000e+00]
 [7.48000000e+00 2.00000000e+01 0.00000000e+00]
 [8.13000000e+00 1.50000000e+01 1.00000000e+00]
 [3.02763776e+01 1.60000000e+01 1.00000000e+00]
 [5.40000000e+00 1.70000000e+01 1.00000000e+00]
 [8.78000000e+00 1.80000000e+01 0.00000000e+00]
 [8.72000000e+00 1.90000000e+01 1.00000000e+00]
 [7.10000000e+00 2.00000000e+01 0.00000000e+00]
 [7.86000000e+00 1.50000000e+01 1.00000000e+00]
 [7.19000000e+00 1.60000000e+01 0.00000000e+00]
 [5.62000000e+00 1.70000000e+01 1.00000000e+00]
 [7.88000000e+00 1.80000000e+01 0.00000000e+00]
 [5.28000000e+00 1.90000000e+01 1.00000000e+00]
 [8.92000000e+00 2.00000000e+01 1.00000000e+00]
 [5.46000000e+00 1.50000000e+01 0.00000000e+00]
 [8.30000000e+00 1.60000000e+01 1.00000000e+00]
 [8.09000000e+00 1.70000000e+01 0.00000000e+00]
 [6.18000000e+00 1.80000000e+01 1.00000000e+00]
 [7.01000000e+00 1.90000000e+01 1.00000000e+00]
 [5.01000000e+00 2.00000000e+01 0.00000000e+00]
 [5.54000000e+00 1.50000000e+01 1.00000000e+00]
 [5.09000000e+00 1.60000000e+01 1.00000000e+00]
 [5.09000000e+00 1.70000000e+01 0.00000000e+00]
 [7.31000000e+00 1.80000000e+01 1.00000000e+00]
 [8.71000000e+00 1.90000000e+01 0.00000000e+00]
 [5.52000000e+00 2.00000000e+01 1.00000000e+00]
 [8.76000000e+00 1.50000000e+01 0.00000000e+00]
 [8.69000000e+00 1.60000000e+01 1.00000000e+00]
 [5.75000000e+00 1.70000000e+01 1.00000000e+00]
 [8.93000000e+00 1.80000000e+01 1.00000000e+00]
 [5.39000000e+00 1.90000000e+01 1.00000000e+00]
 [5.65000000e+00 2.00000000e+01 0.00000000e+00]
 [5.49000000e+00 1.50000000e+01 1.00000000e+00]
 [7.26000000e+00 1.60000000e+01 1.00000000e+00]
 [6.35000000e+00 1.70000000e+01 0.00000000e+00]
 [7.72000000e+00 1.80000000e+01 1.00000000e+00]
 [8.88000000e+00 1.90000000e+01 0.00000000e+00]
 [5.45000000e+00 2.00000000e+01 1.00000000e+00]
 [7.86000000e+00 1.50000000e+01 1.00000000e+00]
 [8.26000000e+00 1.60000000e+01 0.00000000e+00]
 [5.07000000e+00 1.70000000e+01 1.00000000e+00]
 [8.25000000e+00 1.80000000e+01 0.00000000e+00]
 [5.37000000e+00 1.90000000e+01 1.00000000e+00]
 [5.11000000e+00 2.00000000e+01 1.00000000e+00]
 [6.35000000e+00 1.50000000e+01 0.00000000e+00]
 [7.41000000e+00 1.60000000e+01 1.00000000e+00]
 [7.31000000e+00 1.70000000e+01 0.00000000e+00]
 [6.04000000e+00 1.80000000e+01 1.00000000e+00]
 [5.11000000e+00 1.90000000e+01 1.00000000e+00]
 [6.56000000e+00 2.00000000e+01 0.00000000e+00]
 [5.09000000e+00 1.50000000e+01 1.00000000e+00]
 [5.88000000e+00 1.60000000e+01 0.00000000e+00]
 [8.34000000e+00 1.70000000e+01 1.00000000e+00]
 [7.94000000e+00 1.80000000e+01 0.00000000e+00]
 [6.66000000e+00 1.90000000e+01 1.00000000e+00]
 [6.01000000e+00 2.00000000e+01 1.00000000e+00]
 [6.88000000e+00 1.50000000e+01 0.00000000e+00]
 [5.63000000e+00 1.60000000e+01 1.00000000e+00]
 [5.88000000e+00 1.70000000e+01 0.00000000e+00]
 [8.05000000e+00 1.80000000e+01 1.00000000e+00]
 [5.33000000e+00 1.90000000e+01 0.00000000e+00]
 [8.79000000e+00 2.00000000e+01 0.00000000e+00]
 [7.52000000e+00 1.50000000e+01 1.00000000e+00]
 [8.20000000e+00 1.60000000e+01 0.00000000e+00]
 [5.44000000e+00 1.70000000e+01 1.00000000e+00]
 [7.90000000e+00 1.80000000e+01 0.00000000e+00]
 [7.69000000e+00 1.90000000e+01 1.00000000e+00]
 [6.09000000e+00 2.00000000e+01 0.00000000e+00]
 [3.02763776e+01 1.50000000e+01 1.00000000e+00]
 [5.20000000e+00 1.60000000e+01 1.00000000e+00]
 [8.88000000e+00 1.70000000e+01 0.00000000e+00]
 [8.07000000e+00 1.80000000e+01 1.00000000e+00]
 [6.24000000e+00 1.90000000e+01 1.00000000e+00]
 [7.95000000e+00 2.00000000e+01 0.00000000e+00]
 [8.26000000e+00 1.50000000e+01 0.00000000e+00]
 [7.31000000e+00 1.60000000e+01 1.00000000e+00]
 [7.23000000e+00 1.70000000e+01 1.00000000e+00]
 [6.46000000e+00 1.80000000e+01 1.00000000e+00]
 [5.34000000e+00 1.90000000e+01 1.00000000e+00]
 [5.72000000e+00 2.00000000e+01 1.00000000e+00]
 [5.84000000e+00 1.50000000e+01 0.00000000e+00]
 [5.02000000e+00 1.60000000e+01 1.00000000e+00]
 [7.98000000e+00 1.70000000e+01 0.00000000e+00]
 [6.37000000e+00 1.80000000e+01 1.00000000e+00]
 [6.92000000e+00 1.90000000e+01 0.00000000e+00]
 [7.95000000e+00 2.00000000e+01 1.00000000e+00]
 [7.12000000e+00 1.50000000e+01 0.00000000e+00]
 [5.79000000e+00 1.60000000e+01 1.00000000e+00]
 [5.40000000e+00 1.70000000e+01 0.00000000e+00]
 [8.83000000e+00 1.80000000e+01 1.00000000e+00]
 [5.69000000e+00 1.90000000e+01 0.00000000e+00]
 [6.60000000e+00 2.00000000e+01 1.00000000e+00]
 [6.52000000e+00 1.50000000e+01 0.00000000e+00]
 [8.31000000e+00 1.60000000e+01 0.00000000e+00]
 [3.02763776e+01 1.70000000e+01 1.00000000e+00]
 [7.62000000e+00 1.80000000e+01 0.00000000e+00]
 [8.69000000e+00 1.90000000e+01 1.00000000e+00]
 [8.75000000e+00 2.00000000e+01 0.00000000e+00]
 [6.46000000e+00 1.50000000e+01 1.00000000e+00]
 [7.14000000e+00 1.60000000e+01 1.00000000e+00]
 [6.38000000e+00 1.70000000e+01 0.00000000e+00]
 [6.33000000e+00 1.80000000e+01 1.00000000e+00]
 [5.64000000e+00 1.90000000e+01 0.00000000e+00]
 [5.26000000e+00 2.00000000e+01 1.00000000e+00]
 [6.83000000e+00 1.50000000e+01 1.00000000e+00]
 [5.76000000e+00 1.60000000e+01 0.00000000e+00]
 [6.51000000e+00 1.70000000e+01 1.00000000e+00]
 [8.33000000e+00 1.80000000e+01 0.00000000e+00]
 [8.16000000e+00 1.90000000e+01 1.00000000e+00]
 [5.14000000e+00 2.00000000e+01 0.00000000e+00]
 [8.71000000e+00 1.50000000e+01 0.00000000e+00]
 [8.60000000e+00 1.60000000e+01 1.00000000e+00]
 [8.60000000e+00 1.70000000e+01 0.00000000e+00]
 [7.43000000e+00 1.80000000e+01 1.00000000e+00]
 [7.81000000e+00 1.90000000e+01 1.00000000e+00]
 [6.51000000e+00 2.00000000e+01 0.00000000e+00]
 [8.11000000e+00 1.50000000e+01 1.00000000e+00]
 [8.95000000e+00 1.60000000e+01 0.00000000e+00]
 [7.99000000e+00 1.70000000e+01 1.00000000e+00]
 [5.92000000e+00 1.80000000e+01 0.00000000e+00]
 [8.30000000e+00 1.90000000e+01 1.00000000e+00]
 [8.97000000e+00 2.00000000e+01 0.00000000e+00]
 [5.39000000e+00 1.50000000e+01 0.00000000e+00]
 [6.77000000e+00 1.60000000e+01 0.00000000e+00]
 [8.08000000e+00 1.70000000e+01 1.00000000e+00]
 [5.24000000e+00 1.80000000e+01 0.00000000e+00]
 [6.93000000e+00 1.90000000e+01 1.00000000e+00]
 [5.14000000e+00 2.00000000e+01 0.00000000e+00]
 [8.39000000e+00 1.50000000e+01 1.00000000e+00]
 [6.18000000e+00 1.60000000e+01 0.00000000e+00]
 [7.53000000e+00 1.70000000e+01 1.00000000e+00]
 [7.86000000e+00 1.80000000e+01 0.00000000e+00]
 [7.70000000e+00 1.90000000e+01 1.00000000e+00]
 [7.30000000e+00 2.00000000e+01 0.00000000e+00]
 [7.79000000e+00 1.50000000e+01 1.00000000e+00]
 [6.75000000e+00 1.60000000e+01 0.00000000e+00]
 [7.87000000e+00 1.70000000e+01 1.00000000e+00]
 [5.38000000e+00 1.80000000e+01 0.00000000e+00]
 [7.80000000e+00 1.90000000e+01 1.00000000e+00]
 [5.07000000e+00 2.00000000e+01 0.00000000e+00]
 [7.95000000e+00 1.50000000e+01 1.00000000e+00]
 [8.35000000e+00 1.60000000e+01 0.00000000e+00]
 [5.19000000e+00 1.70000000e+01 0.00000000e+00]
 [7.19000000e+00 1.80000000e+01 0.00000000e+00]
 [7.35000000e+00 1.90000000e+01 1.00000000e+00]
 [5.22000000e+00 2.00000000e+01 1.00000000e+00]
 [5.39000000e+00 1.50000000e+01 1.00000000e+00]
 [5.39000000e+00 1.60000000e+01 1.00000000e+00]
 [8.93000000e+00 1.70000000e+01 1.00000000e+00]
 [5.79000000e+00 1.80000000e+01 0.00000000e+00]
 [8.42000000e+00 1.90000000e+01 1.00000000e+00]
 [7.26000000e+00 2.00000000e+01 0.00000000e+00]
 [6.97000000e+00 1.50000000e+01 1.00000000e+00]
 [5.55000000e+00 1.60000000e+01 1.00000000e+00]
 [8.66000000e+00 1.70000000e+01 0.00000000e+00]
 [8.61000000e+00 1.80000000e+01 1.00000000e+00]
 [5.22000000e+00 1.90000000e+01 1.00000000e+00]
 [8.05000000e+00 2.00000000e+01 0.00000000e+00]
 [8.87000000e+00 1.50000000e+01 1.00000000e+00]
 [5.54000000e+00 1.60000000e+01 0.00000000e+00]
 [3.02763776e+01 1.70000000e+01 0.00000000e+00]
 [7.26000000e+00 1.80000000e+01 1.00000000e+00]
 [5.79000000e+00 1.90000000e+01 0.00000000e+00]
 [5.22000000e+00 2.00000000e+01 0.00000000e+00]
 [8.71000000e+00 1.50000000e+01 1.00000000e+00]
 [7.55000000e+00 1.60000000e+01 1.00000000e+00]
 [6.35000000e+00 1.70000000e+01 1.00000000e+00]
 [7.53000000e+00 1.80000000e+01 0.00000000e+00]
 [8.56000000e+00 1.90000000e+01 1.00000000e+00]
 [8.94000000e+00 2.00000000e+01 1.00000000e+00]
 [6.60000000e+00 1.50000000e+01 1.00000000e+00]
 [8.35000000e+00 1.60000000e+01 1.00000000e+00]
 [4.15000000e+00 1.50000000e+01 0.00000000e+00]]

In [20]:
y=dataset.iloc[:,-1]
y

0      78.50
1      76.74
2      78.68
3      71.82
4      84.19
       ...
196    84.68
197    86.75
198    78.05
199    83.50
200    81.45
Name: marks, Length: 201, dtype: float64

## Training Dataset using Linear Regression

In [21]:
model=LinearRegression()
model.fit(x,y)

LinearRegression()

## Prediction of marks

In [27]:
a=[[5.67,18,0]]
PreidctedmodelResult=model.predict(a)
PreidctedmodelResult

array([77.84055196])